<div class="fond">
  <mat-toolbar color="primary">
    <span>INDECOPI</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>
    <span class="example-spacer"></span>
    <p>
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
    </p>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>